{% block navbar %}
<div>
<div class="navbar navbar-expand-lg navbar-light nav justify-content-center" style="background-color: white;">
  <a class="navbar-brand" href="/">
    <img src="{{ url_for('static', filename='templatesImages/logo.png') }}" width="70" height="120" class="d-inline-block align-top" alt="">
  </a>
  <a class="navbar-brand" href="/" style="font-size:60px;">OLiS - Oficjalana lista sprzedaży</a>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light nav justify-content-center" style="box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.75);">
  <div>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('top_albums') }}">Top albumy</a>
      </li>
      <li>
        <div class="dropdown">
          <button style="background-color: white; color:black;"class="btn btn-secondary dropdown-toggle ml-5" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Albumy
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{ url_for('albums_all') }}">Lista albumów</a>
            <a class="dropdown-item" href="{{ url_for('add_album') }}">Dodaj album</a>
          </div>
        </div>
      </li>
      <li>
      <div class="dropdown">
        <button style="background-color: white; color:black;"class="btn btn-secondary dropdown-toggle ml-5" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Artyści
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{{ url_for('artists_all') }}">Lista artystów</a>
          <a class="dropdown-item" href="{{ url_for('add_artist') }}">Dodaj artyste</a>
        </div>
        </div>
      </li>
    </ul>
</div>
</nav>
</div>
{% endblock %}