{% extends "base.html" %}
{% block title %}To-Do application{% endblock %}
{% block page_content %}
<div class="container">
    <div class="page-header">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa płyty</th>
                <th>Data wydania</th>
                <th>Liczba sprzedanych kopii</th>
                <th>Nagrody</th>
                <th>Gatunek muzyczny</th>
                <th>Artysta</th>
                <th>Opis</th>
                <th>Zdjęcie</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            {% for album in top_albums %}
            <tr>
                <td>{{ album.id }}</td>
                <td>{{ album.name }}</td>
                <td>{{ album.release_date }}</td>
                <td>{{ album.views }}</td>
                <td>{{ album.album_type }}</td>
                <td>{{ album.music_type }}</td>
                <td>{{ album.artist.name }} "{{ album.artist.nickname }}" {{ album.artist.surname }}</td>
                <td>{{ album.description }}</td>
                {% if album.photo %}
                <td><img src="../static/images/{{ album.photo }}" height="50" width="50"></td>
                {% else %}
                <td>No Image</td>
                {% endif %}
                <td><a href="{{ url_for('delete_album', id=album.id) }}" class="btn btn-primary"
                       onclick="return confirm('Czy na pewno chcesz usunąć ten album')">Usuń
                </a>
                    <a href="{{ url_for('update_album', id=album.id) }}" class="btn btn-warning">Zmień</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
