{% extends "base.html" %}
{% block title %}To-Do application{% endblock %}
{% block page_content %}
<div class="container">
    {% for album in top_albums %}
    <div class="m-3"><h1>Numer {{ loop.index }}.</h1></div>
    <div class="card mb-3" style="max-width: 1260px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../static/images/{{ album.photo }}" class="img-fluid rounded-start" alt="..." style="width: 100%;
    height: 100%;object-fit: cover;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">{{ album.name }} </br>{{ album.artist.name }} "{{ album.artist.nickname }}" {{
                        album.artist.surname }}</h3>
                    <h6 class="card-title">Liczba sprzedanych płyt: {{ album.views }} szt.</h6>
                    <p class="card-text">{{ album.description }}</p>
                    <p class="card-text"><small class="text-muted">{{ album.album_type }} {{ album.music_type
                        }} </small></p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}